@font-face {
    font-family: 'Josefin Sans';
    src: url('../Assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../Assets/fonts/Josefin_Sans/JosefinSans-Light.ttf');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('../Assets/fonts/Quicksand/static/Quicksand-Regular.ttf');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('../Assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('../Assets/fonts/Quicksand/static/Quicksand-Bold.ttf');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Quicksand';
    src: url('../Assets/fonts/Quicksand/static/Quicksand-Medium.ttf');
    font-weight: 500;
  }