@import '../sassStyles/variables';

body {
  font-size: 16px;
  font-family: $quicksand, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  min-height: 100%;
}

#root {
  height: 100%;
}

.mt-3em{
  margin-top: 3em;
}

